h1{
  color:blue;
  text-align: center;
  margin-top: 25px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
body{
  background-color: #1512333a;
}
#links{
  top:25px;
  right:25px;
  opacity: 0.5;
  text-decoration: none;
  position: absolute;
  color:blue;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
#links:hover{
  opacity: 1;
}
@keyframes colorChangeMets{
  50%{
    color:orange;
  }
}
#Mets{
  color:blue;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  animation-name: colorChangeMets;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes colorChangeJets{
  50%{
    color:green;
  }
}
#Jets{
  color:white;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  animation-name: colorChangeJets;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}