* {
    padding:0;
    margin:0;
}
body{
    background-color: #ade0e7f7;
}
h1{
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
    color: #5649e9;
    font-size: 65px;
}
h2{
    text-align: left;
    color: #5649e9;
    font-size: 30px;
    margin-left: 65px;
}
#picOfMe{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
}
